section(class="canvas front" id="front")

    div(class="content")

        h2 Neuron

        div

            p NLP &amp; Machine Learning for Legal

            div

                a(href="#section-2") APIs
                a(href="#section-3") Examples

    +nav-1({ target: "section-1", direction: "next" })