section(class="canvas section-1" id="section-1")

    h2 Convert your unstructured legal text into actionable insights

    div(class="content")

        div

            img(src="images/home/section-1/_inline/image.svg" inline)

            article

                h2 Make discoveries

                p.
                    Help your team know what's really in those contracts &amp; documents. 

        div

            img(src="images/home/section-1/_inline/image.svg" inline)

            article

                h2 Save time

                p.
                    Why spend hours reviewing documents to find references to Acts or Companies when it can be done in seconds.

    +nav-1({ target: "section-2", direction: "next" })
